  
[www]
user = {{php_run_servername}}
group = {{php_run_servername}}
{% if ansible_os_family  == 'Centos' %}
listen = /run/php-fpm.sock
{% endif %}
{% if ansible_os_family  == 'Debian' %}
listen = /run/php/php-fpm.sock
{% endif %}
listen.owner = {{php_run_servername}}
listen.group = {{php_run_servername}}
listen.mode = 0660
pm = dynamic
pm.max_children = 50
pm.start_servers = 5
pm.min_spare_servers = 5
pm.max_spare_servers = 35
php_admin_flag[log_errors] = on
php_value[session.save_handler] = files
php_value[session.save_path]    = /tmp
php_value[soap.wsdl_cache_dir]  = /tmp
